# Ignore Visual Studio folders
.vs/
PMST/.vs/

# Ignore user-specific VS settings
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build outputs
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.dll
*.pdb

# Ignore temp, cache, logs
*.VC.db
*.VC.VC.opendb
*.log
*.cache

# Ignore backups
*.bak
*.old
*.orig
